<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Angular Books</a>
      <p *ngIf="fireBaseUser" class="firebase-user-email">{{fireBaseUser?.email}}</p>
    </div>

    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <ng-container *ngIf="!signOut">
              <li><a [routerLink] = "['/login']">Signin</a></li>
              <li><a [routerLink] = "['/register']">Register</a></li>
            </ng-container>
            <ng-container *ngIf="fireBaseUser">
              <li><a [routerLink] = "['/home']">Home</a></li>
              <li><a [routerLink] = "['/home/add-new-books']">Add New Books</a></li>
            </ng-container>
            <ng-container *ngIf="signOut">
              <li role="separator" class="divider"></li>
              <li class="user-signout-item"><a (click)="userSignOut()">Signout</a></li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>