.add-selected-books-section {
    margin-bottom: 100px;
}
.search-category {
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 600;
}
.ex-term {
    margin-bottom: 10px;
}
.new-books-count {
    color: #337ab7;
    padding-left: 15px;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
    font-style: italic;
}