h2 {
    margin-bottom: 60px;
}
.search-result-item {
    margin-bottom: 60px;
}
.image-section {
    display: inline-block;
    max-width: 40%;
}
.short-desc-section {
    display: inline-block;
    max-width: 60%;
    vertical-align: top;
    padding-left: 10px;
}