.pagination-section {
    margin-bottom: 40px;
}
.pagination-section .active-elem {
    background-color: #23527c;
    color: #fff;
}
.pagination-item {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #222;
    padding: 8px 15px;
}
.pagination-item:hover {
    text-decoration: none;
}
.book-category-item {
    padding: 5px 10px;
    width: 300px;
    cursor: pointer;
}
#search-categories-section {
    margin-bottom: 40px;
    padding-left: 0;
}
.loading-spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .35);
}
.loading-spinner img{
    max-width: 50px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
}
#search-categories-section .dropdown-menu {
    overflow-y: auto;
    max-height: 350px;
}