<div class="col-sm-6 saved-books-item">
  <section class="image-section" (click)="onClick(book)">
      <img [src]="book.$imageLinks.smallThumbnail">
  </section>
  <section class="short-desc-section">
    <p><b>Title:</b> <span>{{book.$title}}</span></p>
    <p><b>Author:</b> <span *ngIf="book.$authors; else unknown">{{book.$authors[0]}}</span></p>
    <ng-template #unknown>
      <span>Anonymous</span>
    </ng-template>
    <p><b>Category:</b> <span *ngIf="book.$categories; else unknown">{{book.$categories[0]}}</span></p>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" (change)="onChange($event)">
        <span *ngIf="!selected; else toggleselection"><b><i>Would you like to delete?</i></b></span>
        <ng-template #toggleselection>
          <span>Click the delete button</span>
          <div class="btn btn-primary" (click)="onRemove(book)">Delete</div>
        </ng-template>
      </label>
    </div>
  </section>
</div>